body,li,ul{
 margin:0px auto;
}
body{
 background-color:#f2f2f2;
 width:100%;
 font-family: 'Montserrat', sans-serif;
}
header{
 background-color:#000000;
 width:100%;
 height:55px;
 margin:0px;
}
nav{
 width:100%;
}
nav ul{
 float:left;
 height:50px;
}
nav a{
 text-decoration:none;
 color:#1dbf73;
 padding:10px;
 width:auto;
 font-size:30px;
 font-weight:bold;
 font-family:'Nunito';
 height:50px;
}
nav a:hover{
 color:#fff;
 background-color:#000000;
 transition:1s;
}
nav li{
 margin:0;
 padding:0;
 list-style:none;
 float:left;
}

#center{
 margin:0px auto;
 width:95%;
}
#center-set{
 float:left;
 width:100%;
 padding-top:1%;
 padding-bottom:0.5%;
 background-color:#fff;
}
#signup{
 margin:0px auto;
 width:50%;
}
#signup-st,#login-st{
 background-color:#fff;
 margin:50px;
}
#reg{
 padding-top:10px;
}
#reg-head,#reg-bottom,#reg-head-fail{
 width:100%;
 text-align:center;
 background-color:#ffffff;	
 text-decoration:underline;
}
.headrg{
 padding-top:12px;
 padding-bottom:12px;
 font-size:22px;
 color:#000000;
}
.btmrg{
 padding-top:5px;
 padding-bottom:5px;
 font-size:18px;
 color:#ffffff;
}
#reg-head-fail{
 color:#ffffff;
}

#tb-name{
 float:right;
 font-size:18px;
}
#tb-box{
 height:30px;
 width:250px;
}
#st{
 width:100%;
 text-align:center;
 padding-top:30px;
 padding-bottom:10px;
}
#st-btn{
 text-align:center;
 text-decoration:none;
 padding:10px 21px 10px 21px;
 background-color:#1dbf73;
 border:none;
 color:#fff;
 cursor:pointer;
 font-size:20px;
 font-family: 'Montserrat';
}
#st-btn:hover{
 color:#fff;
 background:#000000;
 transition:1s;
}
td.t-1{
 float:left;
 width:44%;
 text-align:right;
 color:#000000;
}
td.t-2{
 float:right;
 width:55%;
}
#lg-1{
 padding:10px;
 float:center;
 width:95%;
}

input::placeholder{
 font-family: 'Montserrat';
}
.tl-1{
 float:left;
 width:80%;
 padding-right:5%;
 text-align:left;
 color:#000000;
}
.tl-4{
 font-size:17px;
 width:80%;
 text-align:center;
 color:#000000;
 }



#login{
 margin:0px auto;
 width:50%;
}
#login-sg{
 margin-top:10%;
}
#footer{
 background-color:#fff;
 width:100%;
 height:50px;
 margin:0px;
 float:left;
 border-top:5px solid #3498DB;
}
#footer p{
 text-align:center;
 font-size:18px;
 font-weight:bold;
 color:#3498DB;
}